<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JustShrink.me</title>
</head>
<body>
   <h1>Another Link Shortner</h1> 

   <form action="/" method="POST">
    http://justshrink.me/<input type="text" name="id"required>
<br>
    Link for Redirection: <input type="text" name="link"required>
    <br>
    <input type="submit" value="Submit">
    </form>
    Link Format : http://www.link.com/optional/optional
</body>
</html>